.index 
h1 {   
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #ae3dff;
}

body.index img {
    display: grid;
    max-width: 45%;
    height: auto;
}