body.index {
    margin: 10px;
    padding: 10px;
}

body.index h1 {   
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #ae3dff;
    text-align: center;
}

body.index h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #61cfff;
    text-align: center;
}

body.index img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

body.index .image-caption {
    text-align: right;
}

body.index ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: fit-content;
}

body.index ul li {
    display: inline;
    margin: 20px auto;
}