body.index {
    margin: 5;
    padding: 5;
}

body.index h1 {   
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #ae3dff;
    text-align: center;
}

body.index img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

body.index .image-caption {
    text-align: center;
}